{% extends 'base.html' %}
{% load static %}
{% block body %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Türkiye'nin Yazılım Platformu</h1>
        <h2 class="masthead-subheading mb-0">Kodların Olimposu</h2>
        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Keşfet</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{%static 'img/1.jpg'%}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">For those about to rock...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">We salute you!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/03.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Let there be rock!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section id="services" class="bg-light pt-100 pb-70">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-5">
            <h2 class="title">Forum'da Neler <span>Ne</span> Yapalabilirsiniz ?
               
            </h2>
            <p class=" mt-3 ">!TAB company olarak sizler için en uygun site işlemlerinizi gerçekleştirmeyi amaçlıyoruz.Yaptığımız işler bu şekilde,</p>
            <a class="btn btn-primary my-5" href="#">Forum'a Katıl </a>
         </div>
         <div class="col-lg-7">
            <div class="row card-items">
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-laptop"></i>
                        <h5 class="card-title">Web Develeloperlar</h5>
                        <p class="card-text">Sizler için en kaliteli ve güzel siteleri tasarlamak ve kullanmanız için profesyönel ekibimiz ile çalışıyoruz</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-droplet-half"></i>
                        <h5 class="card-title">UX/UI Tasarımcılar</h5>
                        <p class="card-text">Sitenize uygun tasarımları uygun bir şekilde dönüşlerinizle yapmaya devam ediyoruz</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-envelope-open"></i>
                        <h5 class="card-title"> Sosyal Medya Yönetimi ve Kaynaşma</h5>
                        <p class="card-text">İnstagram,Youtube,Telegram vb. uygulamalarda işletmenizi büyütmeniz için gerekli reklamları sizin için yapıyoruz</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-phone"></i>
                        <h5 class="card-title"> Mobil Uygulama Geliştirme ve Daha fazlası</h5>
                        <p class="card-text">Mobil Ve tablet uyumlu sitelerinizi sizin için tasarlıyoruz</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


{% endblock body %}