{% extends 'base.html' %}
{% load static %}
{% block body %}
<header class="masthead text-center text-white" >
    <div class="masthead-content">
      <div class="container" >
        <h1 class="masthead-heading mb-0" style="color:white;">Türkiye'nin Yazılım Platformu</h1>
        <h2 class="masthead-subheading mb-0">Kodların Olimposu</h2>
        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Keşfet</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{%static 'img/25.png'%}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">En Kolay Kod Öğrenebileceğiniz Tek Site...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{%static 'img/21.png'%}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Sizler İçin Burdayız!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{%static 'img/22.jpg'%}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Takipte Kalın!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section id="services" class="bg-light pt-100 pb-70">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-5">
            <h2 class="title">Forum'da Neler <span>Ne</span> Yapalabilirsiniz ?
               
            </h2>
            <p class=" mt-3 ">!TAB company olarak sizler için en uygun site işlemlerinizi gerçekleştirmeyi amaçlıyoruz.Yaptığımız işler bu şekilde,</p>
            <a class="btn btn-primary my-5" href="#">Forum'a Katıl </a>
         </div>
         <div class="col-lg-7">
            <div class="row card-items">
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-laptop"></i>
                        <h5 class="card-title">Web Developerler</h5>
                        <p class="card-text">Sizler için en kaliteli ve güzel siteleri tasarlamak ve kullanmanız için profesyonel ekibimiz ile çalışıyoruz.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-droplet-half"></i>
                        <h5 class="card-title">UX/UI Tasarımcılar</h5>
                        <p class="card-text">Sitenize uygun tasarımları uygun bir şekilde dönüşlerinizle yapmaya devam ediyoruz.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-envelope-open"></i>
                        <h5 class="card-title"> Sosyal Medya Yönetimi ve Kaynaşma</h5>
                        <p class="card-text">Instagram,Youtube,Telegram vb. uygulamalarda işletmenizi büyütmeniz için gerekli reklamları sizin için yapıyoruz.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-phone"></i>
                        <h5 class="card-title"> Mobil Uygulama Geliştirme ve Daha fazlası</h5>
                        <p class="card-text">Mobil ve tablet uyumlu sitelerinizi sizin için tasarlıyoruz.Her zaman en iyisini hak ediyorsunuz.Bu yüzden bizi seçebilirsiniz.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<div class="container-fluid">
  <div class="px-lg-5">

    <!-- For demo purpose -->
    <div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm rounded banner">
          <h1 class="display-4">İçerikler</h1>
          <p class="lead">Yazılım,Tasarım,Medya,Hata,Muhabbet</p>
        </div>
      </div>
    </div>
    <!-- End -->

    <div class="row">
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{%static 'img/html.png'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">HTML</a></h5>
            <p class="small text-muted mb-0">Html hakkında her şeyi bu kısımdan bulabilirsiniz.</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">HTML</span></p>
              <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{%static 'img/css.jpg'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">CSS</a></h5>
            <p class="small text-muted mb-0">Css hakkında her şeyi burdan bulabilirsiniz.</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">CSS</span></p>
              <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Trend</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{%static 'img/js.png'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">JS</a></h5>
            <p class="small text-muted mb-0">JavaScript hakkında her şeyi burdan bulabilirsiniz.</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JS</span></p>
              <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{%static 'img/python.jpg'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">PYTHON</a></h5>
            <p class="small text-muted mb-0">Python hakkında her şeyi burdan bulabilirsiniz.</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PY</span></p>
              <div class="badge badge-success px-3 rounded-pill font-weight-normal">Hot</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->



    </div>
    <div class="py-5 text-right"><a href="/dashboard" class="btn btn-dark px-5 py-3 text-uppercase">Ve Daha Fazlası!</a></div>
  </div>
</div>


{% endblock body %}